openapi: 3.1.0
info:
  title: SDR Fale Paco Test API
  version: 1.2.0
  description: >-
    Test-only outbound-only API. Login, authorize, configure Fale Paco, apply, then run the controlled call.
    SIP credentials are server-side and the SIP password is write-only.
servers:
  - url: https://sdr.iainfinito.com.br
tags:
  - name: Authentication
  - name: Fale Paco Configuration
  - name: Fale Paco Registration
  - name: Fale Paco Test
components:
  securitySchemes:
    BearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
  schemas:
    LoginRequest: {type: object, required: [username, password], properties: {username: {type: string, example: owner}, password: {type: string, format: password, example: "********"}}}
    FalePacoConfigRequest:
      type: object
      required: [provider_address, request_uri_host, outbound_proxy, username, extension, caller_id, transport, port, registration]
      properties:
        provider_address: {type: string, example: 98034.falepaco.com.br}
        request_uri_host: {type: string, example: 96678.falepaco.com.br}
        outbound_proxy: {type: string, example: 98034.falepaco.com.br:5060}
        username: {type: string, example: "100"}
        extension: {type: string, example: "100"}
        password: {type: string, format: password, writeOnly: true}
        caller_id: {type: string, example: "551155200455"}
        transport: {type: string, enum: [tcp, udp], example: tcp}
        port: {type: integer, example: 5060}
        registration: {type: object, required: [enabled, server_uri, client_uri, contact_user, realm, retry_interval_seconds, max_retries], properties: {enabled: {type: boolean, example: true}, server_uri: {type: string, example: "sip:96678.falepaco.com.br:5060"}, client_uri: {type: string, example: "sip:100@96678.falepaco.com.br:5060"}, contact_user: {type: string, example: "100"}, realm: {type: string, example: 96678.falepaco.com.br}, retry_interval_seconds: {type: integer, example: 60}, max_retries: {type: integer, example: 3}}}
    FalePacoConfigResponse:
      type: object
      required: [configured, provider_address, request_uri_host, outbound_proxy, username, extension, password_configured, caller_id, transport, port, registration]
      properties:
        configured: {type: boolean}
        provider_address: {type: string}
        request_uri_host: {type: string}
        outbound_proxy: {type: string}
        username: {type: string}
        extension: {type: string}
        password_configured: {type: boolean}
        caller_id: {type: string}
        transport: {type: string, enum: [tcp, udp]}
        port: {type: integer}
        registration: {$ref: '#/components/schemas/FalePacoConfigRequest/properties/registration'}
    RegistrationTestResponse:
      type: object
      required: [selected_transport, registration_object_present, registration_status, registration_apply_error, registration_capture_implemented, registration_initial_request_present, registration_challenge_received, registration_authenticated_request_sent, secrets_redacted]
      properties:
        selected_transport: {type: string, example: tcp}
        registration_object_present: {type: boolean}
        registration_server_uri: {type: string}
        registration_client_uri: {type: string}
        registration_contact_user: {type: string}
        registration_outbound_proxy: {type: string}
        registration_status: {type: string, example: Registered}
        registration_state: {type: string}
        registration_apply_error: {type: boolean}
        apply_stage: {type: string}
        apply_error_class: {type: string}
        apply_error_summary: {type: string}
        registration_capture_implemented: {type: boolean, example: true}
        registration_initial_request_present: {type: boolean}
        registration_first_response: {type: [string, "null"], example: "401"}
        registration_first_reason: {type: [string, "null"], example: Unauthorized}
        registration_challenge_received: {type: boolean}
        registration_challenge_type: {type: string, example: "401"}
        registration_realm: {type: string, example: 96678.falepaco.com.br}
        registration_algorithm: {type: string, example: MD5}
        registration_qop: {type: string, example: auth}
        registration_authenticated_request_sent: {type: boolean}
        registration_auth_username: {type: string, example: "100"}
        registration_auth_realm: {type: string, example: 96678.falepaco.com.br}
        registration_auth_uri: {type: string}
        registration_digest_matches_runtime_secret: {type: [boolean, "null"]}
        registration_final_response: {type: string, example: "200"}
        registration_final_reason: {type: string, example: OK}
        provider_server_or_user_agent: {type: string}
        secrets_redacted: {type: boolean, enum: [true]}
paths:
  /healthz: {get: {tags: [Authentication], responses: {"200": {description: Healthy}}}}
  /readyz: {get: {tags: [Authentication], responses: {"200": {description: Ready}, "503": {description: Not ready}}}}
  /v1/auth/login:
    post:
      tags: [Authentication]
      summary: Login
      description: Obtain JWT, click Authorize, and paste the access_token.
      security: []
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/LoginRequest'}}}}
      responses: {"200": {description: JWT issued}, "400": {description: Missing credentials}, "401": {description: Invalid credentials}, "429": {description: Rate limit}}
  /v1/auth/me:
    get: {tags: [Authentication], summary: Validate login, security: [{BearerAuth: []}], responses: {"200": {description: Authenticated}, "401": {description: Unauthorized}}}
  /v1/falepaco/config:
    get: {tags: [Fale Paco Configuration], summary: Get Fale Paco configuration, security: [{BearerAuth: []}], responses: {"200": {description: Sanitized configuration, content: {application/json: {schema: {$ref: '#/components/schemas/FalePacoConfigResponse'}}}}, "401": {description: Unauthorized}}}
    put:
      tags: [Fale Paco Configuration]
      summary: Configure Fale Paco
      description: Save manually entered SIP configuration. Password is write-only; omitted password preserves the existing SIP password.
      security: [{BearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/FalePacoConfigRequest'}}}}
      responses: {"200": {description: Saved sanitized configuration}, "400": {description: Invalid configuration}, "401": {description: Unauthorized}}
  /v1/falepaco/config/apply:
    post:
      tags: [Fale Paco Configuration]
      summary: Apply Fale Paco configuration
      description: Read fresh runtime credentials, render/apply PJSIP, reload Asterisk, and read back. Does not place a call.
      security: [{BearerAuth: []}]
      responses: {"200": {description: Applied and read back}, "401": {description: Unauthorized}, "502": {description: Asterisk failure}}
  /v1/falepaco/network/preflight:
    get:
      tags: [Fale Paco Configuration]
      summary: Sanitized network and RTP preflight
      security: [{BearerAuth: []}]
      responses: {"200": {description: Sanitized route/firewall/listener checks}, "401": {description: Unauthorized}}

  /v1/falepaco/registration:
    get:
      tags: [Fale Paco Registration]
      summary: Get registration state
      security: [{BearerAuth: []}]
      responses: {"200": {description: Sanitized registration state}, "401": {description: Unauthorized}}
    delete:
      tags: [Fale Paco Registration]
      summary: Disable registration object
      security: [{BearerAuth: []}]
      responses: {"200": {description: Registration disabled}, "401": {description: Unauthorized}}
  /v1/falepaco/registration/test:
    post:
      tags: [Fale Paco Registration]
      summary: Test SIP REGISTER
      description: Captures TCP port 5060 wire traffic, applies the saved registration configuration and validates the REGISTER challenge/final response. Does not place a call.
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Registered, content: {application/json: {schema: {$ref: '#/components/schemas/RegistrationTestResponse'}}}}
        "401": {description: Unauthorized}
        "502": {description: Registration rejected or unavailable, content: {application/json: {schema: {$ref: '#/components/schemas/RegistrationTestResponse'}}}}
  /v1/test/falepaco/call:
    post:
      tags: [Fale Paco Test]
      summary: Execute one controlled outbound test
      description: Uses the saved Fale Paco configuration and only allows +556****0687.
      security: [{BearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, required: [destination], properties: {destination: {type: string, example: "+556****0687"}}}}}}
      responses: {"200": {description: Sanitized SIP result}, "400": {description: Destination not allowed}, "401": {description: Unauthorized}, "409": {description: Another call active}, "502": {description: SIP failure}}
