openapi: 3.1.0
info:
  title: SDR Fale Paco Test API
  version: 1.2.0
  description: >-
    Test-only outbound-only API. Login, authorize, configure Fale Paco, apply, then run the controlled call.
    SIP credentials are server-side and the SIP password is write-only.
servers:
  - url: https://sdr.iainfinito.com.br
tags:
  - name: Authentication
  - name: Fale Paco Configuration
  - name: Fale Paco Test
components:
  securitySchemes:
    BearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
  schemas:
    LoginRequest: {type: object, required: [username, password], properties: {username: {type: string, example: owner}, password: {type: string, format: password, example: "********"}}}
    FalePacoConfigRequest:
      type: object
      required: [provider_address, request_uri_host, outbound_proxy, username, extension, caller_id, transport, port, registration_required]
      properties:
        provider_address: {type: string, example: 98034.falepaco.com.br}
        request_uri_host: {type: string, example: 96678.falepaco.com.br}
        outbound_proxy: {type: string, example: 98034.falepaco.com.br:5060}
        username: {type: string, example: "100"}
        extension: {type: string, example: "100"}
        password: {type: string, format: password, writeOnly: true}
        caller_id: {type: string, example: "551155200455"}
        transport: {type: string, enum: [tcp, udp], example: tcp}
        port: {type: integer, example: 5060}
        registration_required: {type: boolean, example: false}
paths:
  /healthz: {get: {tags: [Authentication], responses: {"200": {description: Healthy}}}}
  /readyz: {get: {tags: [Authentication], responses: {"200": {description: Ready}, "503": {description: Not ready}}}}
  /v1/auth/login:
    post:
      tags: [Authentication]
      summary: Login
      description: Obtain JWT, click Authorize, and paste the access_token.
      security: []
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/LoginRequest'}}}}
      responses: {"200": {description: JWT issued}, "400": {description: Missing credentials}, "401": {description: Invalid credentials}, "429": {description: Rate limit}}
  /v1/auth/me:
    get: {tags: [Authentication], security: [{BearerAuth: []}], responses: {"200": {description: Authenticated}, "401": {description: Unauthorized}}}
  /v1/falepaco/config:
    get: {tags: [Fale Paco Configuration], summary: Get Fale Paco configuration, security: [{BearerAuth: []}], responses: {"200": {description: Sanitized configuration}, "401": {description: Unauthorized}}}
    put:
      tags: [Fale Paco Configuration]
      summary: Configure Fale Paco
      description: Save manually entered SIP configuration. Password is write-only; omitted password preserves the existing SIP password.
      security: [{BearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/FalePacoConfigRequest'}}}}
      responses: {"200": {description: Saved sanitized configuration}, "400": {description: Invalid configuration}, "401": {description: Unauthorized}}
  /v1/falepaco/config/apply:
    post:
      tags: [Fale Paco Configuration]
      summary: Apply Fale Paco configuration
      description: Read fresh runtime credentials, render/apply PJSIP, reload Asterisk, and read back. Does not place a call.
      security: [{BearerAuth: []}]
      responses: {"200": {description: Applied and read back}, "401": {description: Unauthorized}, "502": {description: Asterisk failure}}
  /v1/test/falepaco/call:
    post:
      tags: [Fale Paco Test]
      summary: Execute one controlled outbound test
      description: Uses the saved Fale Paco configuration and only allows +5567981340687.
      security: [{BearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, required: [destination], properties: {destination: {type: string, example: "+5567981340687"}}}}}}
      responses: {"200": {description: Sanitized SIP result}, "400": {description: Destination not allowed}, "401": {description: Unauthorized}, "409": {description: Another call active}, "502": {description: SIP failure}}
