openapi: 3.1.0
info:
  title: SDR Fale Paco Test API
  version: 1.0.0
  description: Test-only outbound-only API. SIP credentials are server-side and the SIP password is never sent through this API. Only the authorized destination can be tested.
servers:
  - url: https://sdr.iainfinito.com.br
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    CallRequest:
      type: object
      required: [destination]
      properties:
        destination: {type: string, example: "+5567981340687"}
    CallResponse:
      type: object
      properties:
        ok: {type: boolean}
        destination: {type: string}
        credential_source: {type: string}
        credential_file_loaded_fresh: {type: boolean}
        auth_username: {type: string}
        transport: {type: string}
        request_uri: {type: string}
        outbound_proxy_host: {type: string}
        digest_challenge_received: {type: boolean}
        authenticated_invite_sent: {type: boolean}
        digest_response_matches_runtime_secret: {type: boolean}
        sip_status: {type: integer}
        sip_reason: {type: string}
        secrets_redacted: {type: boolean}
paths:
  /healthz:
    get: {responses: {"200": {description: Healthy}}}
  /readyz:
    get: {responses: {"200": {description: Ready}, "503": {description: Not ready}}}
  /v1/test/falepaco/call:
    post:
      description: Test-only outbound call. No inbound calls, arbitrary destinations, SIP credentials, retries, or SIP configuration are exposed.
      security: [{BearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CallRequest'}}}}
      responses:
        "200": {description: Sanitized SIP result, content: {application/json: {schema: {$ref: '#/components/schemas/CallResponse'}}}}
        "400": {description: Destination not allowed}
        "401": {description: Bearer required}
        "409": {description: Another test is active}
        "502": {description: SIP/Asterisk failure}
